<footer class="footer">
  <div class="container flex justify-around">
    <section class="footer__section one">
      <img src="assets/icons/logo-white.svg" alt="" class="logo">
      <div class="flex align-center flex-end">
        <img src="assets/icons/whatsapp.svg" alt="" class="img">
        <p>+77777777777</p>
      </div>
      <div class="payment flex">
        <img src="assets/icons/Visa.svg" alt="" class="img">
        <img src="assets/icons/Mastercard.svg" alt="" class="img">
        <img src="assets/icons/Paypal.svg" alt="" class="img">
        <img src="assets/icons/AMEX.svg" alt="" class="img">
      </div>
    </section>
      <section class="footer__section two">
        <p class="title">Something</p>
        <p class="text">something</p>
        <p class="text">something</p>
        <p class="text">something?</p>
        <p class="text">something</p>
      </section>
      <section class="footer__section three">
        <p class="title">Something</p>
        <div class="flex align-center flex-end">
          <p class="text">some address</p>
          <img src="assets/icons/marker.svg" alt="" class="icon">
        </div>
        <div class="flex align-center flex-end">
          <p class="text">some address</p>
          <img src="assets/icons/marker.svg" alt="" class="icon">
        </div>
        <div class="flex align-center flex-end">
          <p class="text">some phone</p>
          <img src="assets/icons/phone.svg" alt="" class="icon">
        </div>
        <div class="flex align-center flex-end">
          <p class="text">example@mail.com</p>
          <img src="assets/icons/e-mail.svg" alt="" class="icon">
        </div>
      </section>
    <section class="footer__section four">
      <p class="title">Some title</p>
      <div class="flex">
        <div class="grid footer__subsection">
          <p class="text">something</p>
          <p class="text">something</p>
          <p class="text">something</p>
          <p class="text">something</p>
        </div>
        <div class="grid">
          <p class="text">something</p>
          <p class="text">something</p>
          <p class="text">something</p>
          <p class="text">something</p>
        </div>
      </div>

    </section>

  </div>
</footer>
