<section class="about-us container">
  <div class="about-us__expand flex align-center flex-end">
    <h2 class="title">מה ייחודיות של פורטל השווה?</h2>
    <img src="assets/icons/arrow.svg" alt="" class="img">
  </div>
  <p>">משלוחי פרחים באינטרנט ומאפשר לבצע>לב
    סקר שוק ולפני הזמנת משלוח פרחים, הטבה ייחודית לגולשי האתר בכל הזמנת משלוח פרחים אונליין.
    אם אתם מחפשים פרחים טריים ורעננים שנשזרים
    מדי יום במגוון עיצובים ייחודיים לכל אירוע שתבקשו, הגעתם למקום הנכון, לנו ניסיון רב
    בתחום, פורטל השווה נוסד בשנת 2006, ריכזנו עבורכם חנויות פרחים הכי איכותיות ומקצועיות ומועדפות על גולשי התר מכל רחבי
    הארץ והפריסה
    רק באתר "השווה" קטלוג איכותי והיוקרתי נבנה מדי שנה על ידי מעצבים מקצועיים. אחרי בדיקה
    קפדנית הקטלוג משווק בין חנויות שנבחרו. הקטלוג מתומחר על ידי חנויות
  </p>
</section>



