<div class="container">
  <h2 class="title">Our location</h2>
</div>
<agm-map [longitude]="longitude" [latitude]="latitude">
  <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
</agm-map>

<section class="info flex align-center justify-center">
  <div class="info__text grid align-center">
    <div class="flex flex-column">
      <p class="bold">24/7 delivery</p>
      <p>077-66750550</p>
    </div>
    <img src="assets/icons/delivery-2.svg" alt="" class="img">
  </div>
  <div class="info__text grid align-center">
    <div class="flex flex-column">
      <p class="bold">24/7 delivery</p>
      <p>077-66750550</p>
    </div>
    <img src="assets/icons/delivery-2.svg" alt="" class="img">
  </div>
  <div class="info__text grid align-center">
    <div class="flex flex-column">
      <p class="bold">24/7 delivery</p>
      <p>077-66750550</p>
    </div>
    <img src="assets/icons/delivery-2.svg" alt="" class="img">
  </div>
</section>


